<p id="notice"><%= notice %></p>

<h1>Doações</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Doador</th>
      <th>Número do Cartão de Crédito</th>
      <th>Validade do Cartão</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.amount %></td>
        <td><%= donation.name %></td>
        <td><%= donation.card_number %></td>
        <td><%= donation.expiration %></td>
      </tr>
    <% end %>
  </tbody>
</table>