<p id="notice"><%= notice %></p>

<h1>Organizações</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>URL</th>
      <th>Habilitado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ongs.each do |ong| %>
      <tr>
        <td><%= ong.name %></td>
        <td><%= ong.email %></td>
        <td><%= ong.tenant_url %></td>
        <td><%= ong.enabled %></td>
        <td><%= link_to 'Mostrar', ong %></td>
        <td><%= link_to 'Editar', edit_ong_path(ong) if logged_in? && ( logged_in?.id == ong.id || is_admin? ) %></td>
        <td><%= link_to 'Remover', ong, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' } if logged_in? && ( logged_in?.id == ong.id || is_admin? ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova organização', new_ong_path %>
