<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ong.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ong.email %>
</p>

<p>
  <strong>URL:</strong>
  <%= @ong.tenant_url %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @ong.enabled %>
</p>

<%= link_to 'Editar', edit_ong_path(@ong) %> |
<%= link_to 'Voltar', ongs_path %>
