<!DOCTYPE html>
<html>
  <head>
    <title>Implementação teste Trackmob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="user_header">
      <% if logged_in? %>
        <%= link_to 'Sair', logout_path %>
      <% else %>
        <%= link_to "Acessar", login_path %>
        <%= link_to "Cadastrar Organização", signup_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
